*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  font-family: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
  font-family: inherit;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button {
  border: none;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}