@import "reset";
@import "animations";
@import "variables";
@import "mixins";

html {
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  font-size: 1.4rem;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: #9fb6bb21 linear-gradient(120deg, rgba(187, 185, 154, 0.13) 0%, #9fb6bb21 100%);
}

.root {
  $r: &;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;

  &__header {
    color: $theme-color-header-text;
  }

  &__admission {
    display: flex;
    flex: 1 .1 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__content {
    @include width-limiter($dimen-max-width);
    @include m0-auto;

    flex: 1 1 100%;
    position: relative;
    padding: 0;
  }
}

.header {
  &__brand {
    color: $theme-color-header-text !important;
    margin-left: 1rem;
  }

  &__content {
    @include width-limiter($dimen-max-width);
    @include m0-auto;
  }
}

.admission {
  $a: &;
  width: 92%;
  max-width: 600px;
  background-color: white;
  border-radius: 3px;

  &[data-active=signin] > &__plate[data-type=signin] {
    display: flex;
  }
  &[data-active=signup] > &__plate[data-type=signup] {
    display: flex;
  }

  &__header {
    background-color: whitesmoke;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width: 100%;
    padding: 0;
    margin: 0;

    #{$a}__li {
      display: inline-block;
      text-align: center;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      width: 50%;

      a {
        display: block;
        padding: 1em;
        transition: background .3s ease;
      }
    }

    #{$a}_active {
      background-color: white;
    }
  }

  &__plate {
    display: none;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
  }

  &__form {
    width: 335px;
  }

  &__bottom-message {
    color: red;
    margin-top: .9em;
  }
}

.login-form {
  $f: &;
  $padding: .5em;
  $radius: 3px;

  &__btn {
    display: block;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    margin: 1em auto 0;
  }
}

.hidden {
  display: none;
}